.DS_Store
.env
*.log

spring_api/target/
spring_api/.mvn/
spring_api/mvnw
spring_api/mvnw.cmd

python_service/__pycache__/
python_service/*.pyc
python_service/venv/
python_service/.env

flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/build/
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/
flutter_app/android/.gradle/
flutter_app/android/app/build/
flutter_app/pubspec.lock

node_modules/
package-lock.json
